extends layout

block scripts
	script(src="/js/jquery.min.js")
	script(src="/js/ics-checklist.js")

block content
	h1= title
	p Select a device type:
	select#lst_device_types
		option(value=null) Loading device types...
	p Select a vendor:
	select#lst_vendors
		option(value=null) Select a device type first
	p Select a device series:
	select#lst_device_series
		option(value=null) Select a vendor first