body {
    padding: 1em;
}

.jumbotron {
    text-align: center;
    background-color: #eee;
    margin-top: 2em;
    padding: 1em;
    border-radius: 6px;
}

.jumbotron ol {
    width: 20em;
    margin: 0 auto;
    text-align: left;
}

.jumbotron .btn {
    margin: 1em 0;
}

.device-selection {
    font-size: 1.4em;
}

.device-selection select {
    margin-bottom: 1em;
}

.protocols button {
    margin-top: 2em;
}

.restart-print-buttons {
    margin-top: 2em;
}

.service input[type='checkbox'] {
    width: 1.5em;
    height: 1.5em;
}

.service label {
    font-size: 1.2em;
    vertical-align: super;
    margin: 0 0.5em;
}

@media print {
    body * {
        visibility: hidden;
    }
    .printable,
    .printable * {
        visibility: visible;
    }
    .printable {
        position: absolute;
        left: 0;
        top: 0;
    }
}